@{
    ViewBag.Title = "Home Page";
}

<body onload="Greeting()">
    <div id="jumbotron">
        <div id="grad" style="text-align:center;margin:auto;font-size:40px;font-weight:bold">
            <h1 onload="Greeting()">Peter's Closet</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Morbi laoreet eros quis ultricies laoreet.</p>
        </div>
    </div>
    <div class="row">
        <div id="jumbotron1" class="col-md-6">
            <div id="grad1" style="text-align:center;margin:auto;font-size:40px;font-weight:bold">
                <h1>Clothes</h1>
                <p>See all items in closet.</p>
                <p><a class="btn btn-default" href="~/WardrobeItems/Index" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Clothes &raquo;</a></p>
            </div>
        </div>
        <div id="jumbotron2" class="col-md-6">
            <div id="grad2" style="text-align:center;margin:auto;font-size:40px;font-weight:bold">
                <h1>Outfits</h1>
                <p>See all Outfits in closet.</p>
                <p><a class="btn btn-default" href="~/Outfits/Index" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">Oufits &raquo;</a></p>
            </div>
        </div>
    </div>
</body>